.main_content .restoreorder {
    height: 40px;
    background-color: rgb(177, 176, 176);
    position: relative;
}

.btndwn,
.btnup {
    cursor: pointer;
}

.main_content .restoreorder ul {
    width: 700px;
    height: 40px;
}

.main_content .restoreorder ul li {
    float: left;
    padding: 5px 10px;
    text-align: center;
    margin-left: 10px;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

.main_content .restoreorder ul li:hover {
    margin-top: 0px;
    /*和hover的margin-top有对比，原无30,现在0，相当于上移了,30px*/
    box-shadow: 0 0 20px 2px white;
    /*盒子阴影*/
    transition: all 0.5s;
    /*持续时间*/
}

.main_content .restoreorder input {
    outline: 0 none;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 0px;
}


/* .goodsarea {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.goodsarea .goods {
    width: 184px;
    height: 334px;
    border: 1px solid rgb(194, 194, 194);
    float: left;
    margin-left: 82px;
    margin-top: 5px;
}

.goodsarea .goods:hover {
    margin-top: 0px;
    /*和hover的margin-top有对比，原无30,现在0，相当于上移了,30px*/
    box-shadow: 0 0 20px 2px grey;
    /*盒子阴影*/
    transition: all 0.5s;
    /*持续时间*/
}

.goodsarea .goods .img {
    width: 184px;
    height: 184px;
}

.goodsarea .goods .img img {
    width: 185px;
    height: 184px;
}

.goodsarea .goods .price {
    width: 184px;
    height: 20px;
    margin-bottom: 5px;
    font-family: "Century Gothic";
    font-size: 18px;
    color: #e60012;
    font-weight: bold;
    line-height: 18px;
}

.goodsarea .goods .goodstitle,
.goodsarea .goods .youhuiquan {
    width: 184px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goodsarea .goods .addcart {
    width: 184px;
    height: 27px;
    padding: 4px 5px 5px 5px;
}

.goodsarea .goods .addcart input {
    width: 29px;
    height: 29px;
    outline: 0 none;
    float: left;
}

.goodsarea .goods .addcart span {
    float: left;
}

.goodsarea .goods .addcart .btnup,
.goodsarea .goods .addcart .btndwn {
    width: 14px;
    height: 14px;
    background-color: rgb(202, 202, 202);
    margin-top: 1px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    border: 1px solid grey;
}

.goodsarea .goods .addcart .cartbtn {
    float: right;
}

.goodsarea .goods .addcart .cartbtn button {
    border: none;
    background-color: red;
    width: 110px;
    height: 32px;
    margin-right: 6px;
    color: white;
    cursor: pointer;
    outline: 0 none;
}

.goodsarea .goods .message {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.goodsarea .goods .shop {
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.goodsarea .goods .shop span {
    display: inline-block;
}